nextflow.enable.dsl = 2

params.samplesheet = null
params.outdir = 'denovo-assembly-results'
params.assembler_threads = 16
params.assembler_memory = '88 GB'

process {
  shell = ['/usr/bin/env', 'bash', '-euo', 'pipefail']
  cpus = 2
  memory = '8 GB'
  errorStrategy = 'terminate'

  withName: HIFIASM_ASSEMBLE {
    cpus = params.assembler_threads
    memory = params.assembler_memory
  }
}

profiles {
  opengenome {
    process.executor = 'local'
  }

  conda {
    process.executor = 'local'
    process.conda = "${projectDir}/../../modules/denovo_assembly/environment.yml"
  }

  stub {
    process.executor = 'local'
    executor.queueSize = 2
    params.assembler_threads = 2
    params.assembler_memory = '2 GB'
  }
}
